@model NewsPortal.Data.Model.Category
@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <!-- Basic form -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Üst Kategori</label>
                            @Html.DropDownListFor(model => model.Name, new SelectList(ViewBag.Category, "ID", "Name"), ("Seçiniz"), new { @class = "form-control", id = "ParentId" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Kategori Adı</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "categoryName", placeholder = "Kategori Adı" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Url</label>
                            @Html.TextBoxFor(x => x.Url, new { @class = "form-control", id = "categoryUrl", placeholder = "Url" })
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(x => x.Active, new { @checked = "checked", id = "newsActive" }) Aktif Mi?
                            </label>
                        </div>
                        <a href="#" class="btn btn-default" onclick="CreateCategory();">Kaydet</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Basic form -->
</div>